[package]
name = "pertaasr"
version = "0.1.0"
edition = "2024"

[dependencies]
reqwest = { version = "0.13", default-features = false, features = ["rustls", 'query', "form", "multipart", "stream"] }
tokio = { version = "1", features = ["full"] }
j4rs = { version = "0" }
humantime = "2.3.0"
tikv-jemallocator = { version="0.6", features = ["unprefixed_malloc_on_supported_platforms"] }
sync-ptr = { version = "0.2", features = ["fnptr"] }
anyhow = "1.0.100"
fory = "0.14.1"
fory-core = "0.14.1"
futures = "0.3.31"
