[package]
name = "pertaasr"
version = "0.1.0"
edition = "2024"

[dependencies]
fory = "0.14"
reqwest = { version = "0.13", features = ["json"] }
tokio = { version = "1", features = ["full"] }
serde_json = "1.0"
j4rs = { version = "0" }
