[package]
name = "pertaasr"
version = "0.1.0"
edition = "2024"

[dependencies]
tokio = { version = "1", features = ["full"] }
hyper = { version = "1", features = ["client", "http1"] }
hyper-util = { version = "0", features = ["client-legacy", "client", "http1", "tokio"] }
http-body-util = "0"
bytes = "1"
mimalloc = "0"
quanta = "0"
core_affinity = "0"
hickory-resolver = { version = "0", features = ["tokio-runtime", "system-config"] }
futures-core = "0.3.31"
tower-service = "0.3.3"
[profile.release]
opt-level = 3
lto = "fat"
