[package]
name = "pertaasr"
version = "0.1.0"
edition = "2024"

[dependencies]
reqwest = { version = "0.13", default-features = false, features = ["rustls", 'query', "form", "multipart", "stream"] }
tokio = { version = "1", features = ["full"] }
quanta = "0.12.6"
mimalloc = "0.1.48"
futures-util = "0.3.31"

[profile.release]
opt-level = 3
lto = "fat"

[[bin]]
name = "reqwest_test"
path = "src/bin/reqwest_test.rs"