[package]
name = "pertaasr"
version = "0.1.0"
edition = "2024"

[dependencies]
tokio = { version = "1", features = ["full", "rt", "macros", "net", "time"] }
quanta = "0"
mimalloc = "0"
hyper = { version = "1", features = ["client", "http1"] }
hyper-util = { version = "0", features = ["client-legacy", "tokio"] }
http-body-util = "0"
bytes = "1"
core_affinity = "0"
[profile.release]
opt-level = 3
lto = "fat"